
<!DOCTYPE html>
<html>
    <head>
        <title>
            Python button script
        </title>
    </head>
    <body>
        <form method="post" enctype="multipart/form-data" action="/output">
        {% csrf_token %}
            Input your sentence: <input type="text" name="inputsentence">
        </form>
        <button onclick="location.href='{% url 'script' %}'">Display result</button> <hr>
        {% if data is not None %}
        
        {{data}}

        {% endif %}

        </body>
</html>