
<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'decipher/style.css' %}">
        <title>
            NLP Decipher
        </title>

    </head>
    <body>
        <button onclick="location.href='{% url 'train_model' %}'">Train NLP Model</button>
        {% if progress is not None %}

        {{progress}}

        {% endif %}
        <hr>

        <form method="post" enctype="multipart/form-data" action="/output">
        {% csrf_token %}
            Input your sentence for sentiment classification:
            <input type="text" name="inputsentence">
        </form>

        <form method="post" enctype="multipart/form-data" action="/output2">
            {% csrf_token %}
            Input your sentence for gender classification:
            <input type="text" name="inputsentence2">
        </form>

        {% if data is not None or prediction is not None %}

        <br>
        {{data}}

        <br>
        {{prediction}}

        <br>
        {{reason}}

        {% endif %}

        {% if confusion is not None %}

        <br>
        {{confusion}}

        {% endif %}

        </body>
</html>
