
<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'decipher/style.css' %}">
        <title>
            NLP Decipher
        </title>
        <script src="{% static 'decipher/jquery-3.4.1.js' %}"></script>
        <script>
        $(function(){
          $("#lime").load("{% static 'decipher/lime.html' %}");
        });
        </script>
    </head>
    <body>
        <img class= "topbanner" src="{% static 'decipher/computer.png' %}">
        <div class="trainButton">
        <button onclick="location.href='{% url 'train_model' %}'">Train NLP Model</button>
        </div>
        <div class="progress">
        {% if progress is not None %}
        {{progress}}
        {% endif %}
        </div>
        <hr>

        <div >
        <span class="description">
        Input your sentence for sentiment classification:
        </span>

        <span class="description">
        Input your sentence for gender classification:
        </span>
        </div>
        <br>

        <div>
        <form method="post" enctype="multipart/form-data" action="/output" class="inputForm" id="sentiment">
        {% csrf_token %}
            <textarea rows="5" cols="50" type="text" name="inputsentence"></textarea>
        </form>
        <form method="post" enctype="multipart/form-data" action="/output2" class="inputForm" id="gender">
            {% csrf_token %}
            <textarea rows="5" cols="50" type="text" name="inputsentence2"></textarea>
        </form>
        </div>

        <div>
            <button type="submit" form="sentiment" value="Submit">Sentiment</button>
            <button type="submit" form="gender" value="Submit">Gender</button>
        </div>

        {% if data is not None or prediction is not None %}
        <br>
        <div class="result">
        {{data}}
        <br>
        {{prediction}}
        <br>
        {{reason}}
        </div>
        <div id="lime"></div>
        <div id="norm">
        <img src="{% static 'decipher/l1.jpg' %}" class="lnorm">
        <img src="{% static 'decipher/l2.jpg' %}" class="lnorm">
        </div>
        {% endif %}

        {% if confusion is not None %}
        <br>
        {{confusion}}
        {% endif %}
        <div>
        <img src="{% static 'decipher/sigmoid.png' %}" class="sigmoid">
        </div>
        </body>

</html>
